@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 96%;
    --foreground: 215 39% 15%;
    --card: 0 0% 100%;
    --card-foreground: 215 39% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 39% 15%;
    --primary: 243 75% 59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 9.1% 47.1%;
    --accent: 145 87.1% 95.9%;
    --accent-foreground: 160 84.2% 19.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 243 75% 59%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 210 17% 98%;
    --card: 215 14% 28%;
    --card-foreground: 210 17% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 210 17% 98%;
    --primary: 243 75% 59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 14% 65%;
    --accent: 160 84% 13%;
    --accent-foreground: 152 76% 83%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 243 75% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-display;
  }
}

@layer components {
  .scanner-viewport {
    overflow: hidden;
    position: relative;
  }
}